<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sx.mapper.studentMapper">
    <insert id="add" parameterType="com.sx.pojo.student"  keyProperty="id" useGeneratedKeys="true">
    INSERT INTO student (name,occupation,description,picture) VALUE (#{name},#{occupation},#{description},#{picture})
</insert>

    <delete id="delete" parameterType="com.sx.pojo.student">
    DELETE FROM student WHERE id= #{id}
    </delete>

    <update id="update" parameterType="com.sx.pojo.student">
        UPDATE student SET id =#{id},NAME =#{name},occupation=#{occupation},description=#{description},picture=#{picture}
    </update>
    <select id="get" parameterType="int" resultType="com.sx.pojo.student">
        SELECT * from student where id =#{id}
    </select>
    <select id="list" parameterType="com.sx.pojo.student" resultType="com.sx.pojo.student">
        SELECT *from student
    </select>
    <select id="count" parameterType="com.sx.pojo.student" resultType="int">
        select count(*) from student
    </select>
    <select id="javacount" resultType="int">
        select count(*) as num from student where occupation='java'
    </select>
</mapper>